*__pycache__
logs
plugins
*/.env
.vars
secrets.sh
.env
variables
docker-compose.yml
terraform/.terraform.lock.hcl
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
