export SWAPPER_ADDRESS='${address1}'
export CLOSER_ADDRESS='${address2}'
export DISTRIBUTOR_ADDRESS='${address3}'
export DISTRIBUTOR_V2_ADDRESS='${address4}'
export HARVESTER_ADDRESS='${address5}'
export REPORTER_ADDRESS='${address6}'
export REX_BANK_KEEPER_ADDRESS='${address7}'
export SWAPPER_ADDRESS_KEY='${key1}'
export CLOSER_ADDRESS_KEY='${key2}'
export DISTRIBUTOR_ADDRESS_KEY='${key3}'
export DISTRIBUTOR_V2_ADDRESS_KEY='${key4}'
export HARVESTER_ADDRESS_KEY='${key5}'
export REPORTER_ADDRESS_KEY='${key6}'
export REX_BANK_KEEPER_ADDRESS_KEY='${key7}'
export YOUR_INFURA_HTTP_URI='${gateway_uri}'
export YOUR_INFURA_WSS_URI='${gateway_wss}'
export AIRFLOW_PASSWORD='${airflow_password}'
export PG_PWD='${postgres_password}'
export FERNET_KEY=$(dd if=/dev/urandom bs=32 count=1 2>/dev/null | openssl base64)
export DISTRIBUTOR_SCHEDULE_INTERVAL='0 * * * *'
export HARVESTER_SCHEDULE_INTERVAL='0 * * * *'
export WATCH_SCHEDULE_INTERVAL='50 * * * *'
export TELLOR_SCHEDULE_INTERVAL='*/5 * * * *'
export SWAP_SCHEDULE_INTERVAL='0 * * * *'
export BLOCK_POLL_SCHEDULE_INTERVAL='*/15 * * * *'
export CLOSE_SCHEDULE_INTERVAL='None'
