export SWAPPER_ADDRESS='${SWAPPER_ADDRESS}'
export CLOSER_ADDRESS='${CLOSER_ADDRESS}'
export DISTRIBUTOR_ADDRESS='${DISTRIBUTOR_ADDRESS}'
export DISTRIBUTOR_V2_ADDRESS='${DISTRIBUTOR_V2_ADDRESS}'
export HARVESTER_ADDRESS='${address5}'
export REPORTER_ADDRESS='${REPORTER_ADDRESS}'
export REX_BANK_KEEPER_ADDRESS='${REX_BANK_KEEPER_ADDRESS}'
export SWAPPER_ADDRESS_KEY='${SWAPPER_ADDRESS_KEY}'
export CLOSER_ADDRESS_KEY='${CLOSER_ADDRESS_KEY}'
export DISTRIBUTOR_ADDRESS_KEY='${DISTRIBUTOR_ADDRESS_KEY}'
export DISTRIBUTOR_V2_ADDRESS_KEY='${DISTRIBUTOR_V2_ADDRESS_KEY}'
export HARVESTER_ADDRESS_KEY='${HARVESTER_ADDRESS_KEY}'
export REPORTER_ADDRESS_KEY='${REPORTER_ADDRESS_KEY}'
export REX_BANK_KEEPER_ADDRESS_KEY='${REX_BANK_KEEPER_ADDRESS_KEY}'
export YOUR_INFURA_HTTP_URI='${gateway_uri}'
export YOUR_INFURA_WSS_URI='${gateway_wss}'
export AIRFLOW_PASSWORD='${airflow_password}'
export PG_PWD='${postgres_password}'
export FERNET_KEY=$(dd if=/dev/urandom bs=32 count=1 2>/dev/null | openssl base64)
export DISTRIBUTOR_SCHEDULE_INTERVAL='0 * * * *'
export HARVESTER_SCHEDULE_INTERVAL='0 * * * *'
export WATCH_SCHEDULE_INTERVAL='50 * * * *'
export TELLOR_SCHEDULE_INTERVAL='*/5 * * * *'
export SWAP_SCHEDULE_INTERVAL='0 * * * *'
export BLOCK_POLL_SCHEDULE_INTERVAL='*/15 * * * *'
export CLOSE_SCHEDULE_INTERVAL='None'
